#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slides
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=aapocclcgogkmnckokdopfmhonfmgoek
Icon=chrome-aapocclcgogkmnckokdopfmhonfmgoek-Default
NoDisplay=true
StartupWMClass=crx_aapocclcgogkmnckokdopfmhonfmgoek
