[Desktop Entry]
Name=Minecraft
Exec=/home/aesophor/Games/minecraft/minecraft-launcher/minecraft-launcher
Type=Application
Icon=/home/aesophor/.local/share/icons/custom/minecraft.png
