[Desktop Entry]
Version=1.0
Type=Application
Name=Popcorn Time
GenericName=Online Movie Streaming
Icon=popcorntime
Exec="/opt/Popcorn/linux64/Popcorn-Time" %U
Comment=Watch Movies and TV Shows instantly!
Categories=Multimedia;
Terminal=false
