[Desktop Entry]
Name=The Elder Scrolls V: Skyrim
Comment=Play this game on Steam
Exec=steam steam://rungameid/72850
Icon=steam_icon_72850
Terminal=false
Type=Application
Categories=Game;
