# make ls list directories first.
alias ls='ls --color -hX --group-directories-first'
alias l='ls'
alias ll='la'
alias al='la'
alias dir='la'

# corrections
alias reboot='sync && sync && sudo reboot'
alias shutdown='sync && sync && sudo shutdown now'

# bookmarks
alias home='cd ~/; la'
alias dots="cd ~/.config/dotfiles/"
alias dl='cd ~/Downloads; la'
alias scp='cd ~/Documents/00-Studies/05-MCNDU\(104-108\)/106-108_UniversityProject; la'
alias docs='cd ~/Documents; la'
alias works='cd ~/Workspaces; la'
alias ctf='cd ~/Workspaces/03-CTF; la'
alias pics='cd ~/Pictures; la'
alias vids='cd ~/Videos; la'
alias musics='cd ~/Music; la'
alias vpn='cd ~/.config/143vpn/TCP/ && la'

# shortcuts
alias c='clear'
alias open='xdg-open'
alias config-dp='vim ~/.x/displayctlrc'
alias config-i3='vim ~/.config/i3/config'
alias config-polybar='vim ~/.config/polybar/config'
alias macspoof='sudo ~/.local/bin/scripts/macspoof'

# typos
alias EXIT='exit'
alias eixt='exit'
alias xit='exit'
alias :q='exit'
alias :q!='exit'
