# make ls list directories first.
alias ls='ls --color -hX --group-directories-first'
alias l='ls'
alias ll='la'
alias al='la'
alias dir='la'

# corrections
alias rm='safe-rm'
alias reboot='sync && sync && sudo reboot'
alias shutdown='sync && sync && sudo shutdown now'

# bookmarks
alias home='cd ~/; la'
alias dots="cd ~/.config/dotfiles/"
alias dl='cd ~/Downloads; la'
alias scp='cd ~/Documents/00-Studies/05-MCNDU\(104-108\)/106-108_UniversityProject; la'
alias docs='cd ~/Documents; la'
alias works='cd ~/Workspaces; la'
alias pics='cd ~/Pictures; la'
alias vids='cd ~/Videos; la'
alias musics='cd ~/Music; la'
alias vpn='cd ~/.config/143vpn/TCP/ && la'

# shortcuts
alias c='clear'
alias ch='rm ~/.bash_history 2>/dev/null; rm ~/.bash_logout 2>/dev/null; rm ~/.lesshst 2>/dev/null; echo > ~/.zsh_history'
alias open='xdg-open'
alias config-i3="vim ~/.config/i3/config"
alias config-i3blocks="vim ~/.config/i3blocks/i3blocks.conf"
alias config-i3blocklets="cd ~/.config/i3blocks/scripts"

# personal scripts
alias displayctl='~/.local/bin/displayctl'
alias vpnconnect='~/.local/bin/vpnconnect'
alias macspoof='sudo ~/.local/bin/macspoof'
alias scrotutl='~/.local/bin/scrotutl'
alias kbdctl='~/.local/bin/kbdctl'

# typos
alias EXIT="exit"
alias xit="exit"
alias :q='exit'
alias :q!='exit'
