.DS_Store
error.log
mpd/.mpd/mpdstate
mpd/.mpd/mpd.db
mpd/.mpd/mpd.pid
nvim/.nvim/undo/*
nvim/.nvim/swaps/*
nvim/.nvim/backups/*
scripts/.local/bin/django-admin*
scripts/.local/bin/pip-autoremove
scripts/.local/bin/diff-so-fancy
scripts/.local/bin/SynoProjectSync.sh
tmux/.config/tmux/tmuxhistory
tmux/.config/tmux/plugins/*
