.DS_Store
error.log
nvim/.nvim/undo/*
nvim/.nvim/swaps/*
nvim/.nvim/backups/*
scripts/.local/bin/django-admin*
scripts/.local/bin/pip-autoremove
scripts/.local/bin/diff-so-fancy
scripts/.local/bin/SynoProjectSync.sh
