! displayctl
#include "/home/aesophor/.x/displayctlrc" 

! Colorscheme
#include "/home/aesophor/.x/colorscheme"

! Font Settings
#include "/home/aesophor/.x/fonts"

! URxvt
#include "/home/aesophor/.x/urxvt"

! Rofi Colors
#include "/home/aesophor/.x/rofi"
