! displayctl
#include "/home/aesophor/.x/displayctlrc" 

! Colors
#include "/home/aesophor/.x/colorscheme/base16-aesophor"

! Font Settings
#include "/home/aesophor/.x/fonts"

! URxvt
#include "/home/aesophor/.x/urxvt"

! Rofi Colors
#include "/home/aesophor/.x/rofi"
