#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#ee99a0", bg: "#141118", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#ee99a0", modifiers: "Bold"),
    current_item_style: (fg: "#ee99a0", bg: "#141118"),
    borders_style: (fg: "#3b3447"),
    highlight_border_style: (fg: "#ee99a0"),
    symbols: (
        song: "S",
        dir: "D",
        playlist: "P",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "blue", bg: "black"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "red", bg: "black"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "#ee99a0", bg: "black"),
    ),
    progress_bar: (
        symbols: ["█", "█", "▒", "▒", ""],
        track_style: (fg: "black"),
        elapsed_style: (fg: "#ee99a0"),
        thumb_style: (fg: "#ee99a0"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["▕", "▐", "", ""],
        track_style: (fg: "black"),
        ends_style: (),
        thumb_style: (fg: "#ee99a0"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Tabs),
                size: "1",
            ),
            (
                pane: Split(borders: "TOP",  direction: Horizontal, panes: []),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Split(borders: "BOTTOM", direction: Horizontal, panes: []),
                size: "2",
            ),
            (
                pane: Split(direction: Horizontal, panes: [
                  (size: "100%", pane: Pane(Property(content: [
                    (kind: Text(" ")),
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    ),
                  ]))),
                  (size: "4", pane: Pane(Property(content: [
                    (kind: Property(Status(RepeatV2(
                      on_label: "⇋", off_label: "⇋",
                      on_style: (fg: "#ee99a0", modifiers: "Bold"), off_style: (fg: "#a095b2")
                    )))),
                    (kind: Text(" ")),
                    (kind: Property(Status(RandomV2(
                      on_label: "", off_label: "",
                      on_style: (fg: "#ee99a0", modifiers: "Bold"), off_style: (fg: "#a095b2")
                    )))),
                  ]))),
                ]),
                size: "1",
            ),
            (
                pane: Split(direction: Horizontal, panes: [
                  (size: "100%", pane: Pane(Property(content: [
                    (kind: Text(" ")),
                    (kind: Property(Song(Artist)), style: (fg: "#a095b2"),
                        default: (kind: Text("Unknown"), style: (fg: "#a095b2"))
                    ),
                  ]))),
                  (size: "2", pane: Pane(Property(content: [(kind: Text("🔊"))]))),
                  (size: "16", pane: Pane(
                    Volume(kind: Slider(
                      symbols: (
                        start: "", filled: "─",
                        thumb: "●", track: "─",
                        end: "",
                      ),
                      track_style: (fg: "black"),
                      filled_style: (fg: "#ee99a0"),
                      thumb_style: (fg: "white"),
                      )
                  ))),
                ]),
                size: "1",
            ),
            (
              pane: Split(direction: Horizontal, panes: []),
              size: "1",
            ),
            (
                pane: Split(direction: Horizontal, panes: [
                  (size: "4", pane: Pane(Property(content: [
                    (kind: Text(" ")),
                    (kind: Property(Status(StateV2(
                      playing_label: "⏸︎",
                      paused_label: "▶",
                      stopped_label: "…"
                    ))))
                  ]))),
                  (size: "100%", pane: Pane(ProgressBar)),
                  (size: "13", pane: Pane(Property(content: [
                    (kind: Text(" ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / "), style: (fg: "black")),
                    (kind: Property(Status(Duration))),
                  ])))
                ]),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
