! displayctl
#include "/home/aesophor/.xorg/displayctlrc" 

! Colorscheme
#include "/home/aesophor/.xorg/colorscheme"

! Font Settings
#include "/home/aesophor/.xorg/fonts"

! URxvt
#include "/home/aesophor/.xorg/urxvt"

! dzen2
#include "/home/aesophor/.xorg/dzen2"
